@{
    Layout = null;
}

@model EmployeeModel


<html>
<head>
    <title>Add</title>
</head>
<body>
<h1>Добавление сотрудника</h1>

@using (@Html.BeginForm("AddEmployee", "Home", FormMethod.Post))
{
    <div>
        <label>Имя</label>
    </div>

    <div>
        @Html.TextBoxFor(m => m.Name)
    </div>

    <div>
        <label>Фамилия</label>
    </div>

    <div>
        @Html.TextBoxFor(m => m.Surname)
    </div>

    <div>
        @Html.DropDownListFor(m => m.GenderId, Model.Genders, "Выберите пол")
    </div>

    <div>
        <label>Возраст</label>
    </div>

    <div>
        @Html.TextBoxFor(m => m.Age)
    </div>

    <div>
        @Html.DropDownListFor(m => m.DepartmentId, Model.Departments, "Выберите отдел")
    </div>

    <h2>Опыт работы</h2>

    <div>
        @Html.ListBoxFor(m => m.ProgramLanguages, Model.AllProgramLanguages, "Выберите язык программирования")
    </div>
    
    <p><input type="submit" value="Добавить" /></p>
}


</body>
</html>