@{
    ViewData["Title"] = "Home Page";
}

@model EmployeeListModel

<a href="/Home/Add">Добавить работника</a>

<table class="employeeTable">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Возраст</th>
            <th>Пол</th>
            <th>Отдел</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var employee in Model.EmployeeList)
        {
            <tr>
                <td>@employee.Name</td>
                <td>@employee.Surname</td>
                <td>@employee.Age</td>
                <td>@employee.GenderTitle</td>
                <td>@employee.DepartmentTitle</td>
                <td>@Html.ActionLink("🖉", "Edit", "Home", new {id = employee.Id})</td>
                <td>
                    @using (Html.BeginForm("Remove", "Home", new {id = employee.Id}, FormMethod.Post))
                    {
                        var textRemove = $"Уверены что хотите удалить {employee.Name} {employee.Surname}?";
                        <input class="removeButton" type="submit" value="✖" onclick="return confirm('@textRemove');" />
                    }
                </td>
            </tr>
        }
    </tbody>

</table>